




body {
    background-color: #00858B;
}
html {
    background-color: #00858B;
}

.container-fluid{
    color: white;
    margin-top: 20em;
    background-color: #00858B;
}
.textid{
    margin-left:4em ;

}
.idinput{
    margin-top: 1em;
    margin-left:7em ;
    width: 58%;
display: block;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: #00858B;
   
    
}
.busqueda{
    margin-left: 18em;
  
}