body {
    background-color: #089BAB;
    color: #ffff;
}

.columnaspulso {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.florence2 {
    max-width: 100%;
    margin-top: 8em;
    margin-left: 9em;
}

.btn-Pulso {
    margin-bottom: 2em;
    margin-top: 3em;
    width: 20%;
    height: 4em;
    margin-left: 25em;
    border-radius: 17px;
    cursor: pointer;
}
.PulsoTextHeader{

margin-left: 4em;
margin-top: -2.5em;

    width: 70%;
}
.Section-onePulso {
    display: flex;
}

.section-twopulso {
    display: flex;
}
.boxPulGt{
    
    margin-top: 7em;
    margin-left:-20em;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
}
.pulsoSvg{

}
.textpulsoimg1{
    margin-left: 21em;
    margin-top: -8em;
}
.pulsogift{
    margin-top: 4em;
}
.textgift1{
    margin-left: 17em;
    margin-top: -6em;
}

#textgift2{
    margin-left: 17em;
    margin-top: 0;
}
.section-twopulso{
    margin-top: 3em;
height: 23em;
display: grid;
grid-template-columns: repeat(3, 1fr);
box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
border-radius: 35px;
background: #ACEBF2;;
color: green;
}
.tempdatop{
    margin-top:-5em ;
    margin-left: 8em;
   
    width: 5%;
}

.pulsodatop{
    margin-top:-4em ;
    margin-left: 8em;
   
    width: 5%;
}