body {
    background-color: #089BAB;
    color: #ffff;
}

.columnastemp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.dialogo1 {
    margin-left: 27em;
}

.florence1 {
   
    margin-top: -4em;
    margin-left: 9em;
}

.btn-temp {
    margin-bottom: 2em;
    margin-top: 3em;
    width: 20%;
    height: 4em;
    margin-left: 25em;
    border-radius: 17px;
    cursor: pointer;
}

.btn-temp:hover[

]

.florenceimg1 {
    display: grid;
}

.tempAna {
   
    display: grid;
}

.tempTextHeader {
    margin-left: 5em;
    margin-top: -2em;
}

.boxTemCam {
  
    height: 23em;
    width: 75%;
    margin-left: 6em;
    margin-bottom: 2em;
    background-color:#37a9b5;
    border-radius: 20px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
}

.tempface{
    margin-top: 2em;
    margin-left: 7em;
    
}
.section-two {
   
    height: 23em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.tempdatop{
    margin-top:-5em ;
    margin-left: 8em;
   
    width: 5%;
}