html {
    background-color: #00858B;
}

body {
    background-color: #00858B;
}

.col {
    color: white;
    background-color: #00858B;
}

.temperaturah1 {
    margin-top: 1em;
}

.datos {
    margin-top: 1em;
  
    width: 70%;
    height: 300px;
    background: #ACEBF2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.boxesdata1{
  
    margin-top: 1em;
    display: flex;
    width: 85%;
    border-radius: 17px;
    background: rgba(255, 255, 255, 0.46);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.boximg1{
    margin: 0.3em;
    width: 55%;

}

.infodatapagesource{
    margin-top: 2em;
}
.greet1{
    margin-top: 1em;
    margin-left: 1em;
}

.florenceimg{
    margin-left: 5em;
    margin-top: 3em;
    width: 55%;
}

.btn-2{
    margin-top: 2em;
    margin-left: 13em;
    width: 20%;
    height: 45px;
    border-radius: 17px;
}
