{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container">
<div style="background-color: #CEEBEE;box-shadow: 5px;" class="jumbotron jumbotron-fluid">
    <h1 class="display display-4 text-center">Actualizar Paciente</h1>
    
  
<div class="col-4" style="margin-left:35% ;">
{%for rows in rows%}

    <form action="/mpacientes/{{rows.id}}" method="post">
        <div class="form-group">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="cedula" placeholder="Cédula del paciente" type="text" value="{{rows.cedula}}"/>
            </div>
            <input autocomplete="off"  autofocus class="form-control" name="nombres" placeholder="Nombres del paciente" type="text" value="{{rows.nombres}}"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="apellidos" placeholder="apellidos del paciente" type="text" value="{{rows.apellidos}}"/>
        </div>
        <div class="form-group">
            <input autocomplete="off"  autofocus class="form-control" name="correo" placeholder="correo del paciente" type="text" value="{{rows.correo}}"/>
        </div>
        <div class="form-group">
            <input class="form-control" value="{{rows.telefono}}" name="telefono" placeholder="Numero de telefono del paciente" type="number"/>
        </div>
        <div class="form-group">
            <input class="form-control" value="{{rows.direccion}}" name="direccion" placeholder="Direccion" type="text"/>
        </div>
        <div class="form-group">
            <select class="form-control" name="sexo">
                <option disabled selected value="">Sexo</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Prefiero no decir">Prefiero no decir</option>
            </select>
        </div>
        <button class="btn btn-primary" style="background-color: #738FFF;" type="submit">Actualizar Paciente</button>
    </form>


    {%endfor%}
    </div>
      
</div>
{% endblock %}
