<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/pulso.css">

</head>

<body>
    <div class="columnaspulso">
        <div class="florenceimg2">

            <img class="florence2" src="../static/svg/florence.svg">
            <button id="btn-Pulso" class="btn-Pulso">Siguiente</button>
        </div>

        <div class="PulsoAna">
            <div class="Section-onePulso">
                <div class="pulsoHeader">
                <img class="pulsoSvg" src="../static/svg/pulso.svg">
                <h1 class="PulsoTextHeader">Signos Vitales</h1>
                </div>
                <div class="boxPulGt">

                    <div class="parteDatosPulso1">
                        <img src="../static/svg/pulsoimg1.svg">
                    <p class="textpulsoimg1">Coloque su mano en esta posición durante un minuto, <br>mientras Florence toma el pulso.</p>

                     </div>
                     <div class="parteDatoPulsos2">

                    <img  class="pulsogift" src="../static/svg/imgpulso2.svg">

                    <p class="textgift1">Promedio</p>
                    <p id="textgift2">90/lpm</p>
                </div>


                </div>
            </div>

            <div class="section-twopulso">
                <div class="cambioDatospulso">
                <img src="../static/svg/temp.svg">
                <p class="tempdatop" id="tempdatop">36 Grados</p>
            </div>
            <div class="cambioDatospulso">
                <img src="../static/svg/pulso.svg">
                <p class="pulsodatop" id="pulsodatop">90/lmp</p>
            </div>
            <div class="cambioDatospulso">
                <img src="../static/svg/peso.svg">
            </div>
            <div class="cambioDatospulso">
                <img src="../static/svg/tensionArt.svg">
            </div>
            <div class="cambioDatospulso">
                <img src="../static/svg/saturacion.svg">
            </div>
            <div class="cambioDatospulso">
                <img src="../static/svg/altura.svg">
            </div>


        </div>
    </div>

</body>

</html>