<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/temp.css">

</head>

<body>
    <div class="columnastemp">
        
        <div class="florenceimg1">
            <img class="dialogo1" src="../static/svg/dialogo1.svg">
            <img class="florence1" src="../static/svg/florence.svg">
            <button class="btn-temp">Siguiente</button>
        </div>

        <div class="tempAna">
            <div class="Section-one">
                <img class="tempSvg" src="../static/svg/temp.svg">
                <h1 class="tempTextHeader">Signos Vitales</h1>
                <div class="boxTemCam">
                    <img id="tempface" class= "tempface" src="../static/svg/tempface.svg">

                </div>
            </div>

            <div class="section-two">
                <div class="cambioDatos">
                <img src="../static/svg/temp.svg">
                <p class="tempdatop" id="tempdatop">36 Grados</p>
            </div>
            <div class="cambioDatos">
                <img src="../static/svg/pulso.svg">
            </div>
            <div class="cambioDatos">
                <img src="../static/svg/peso.svg">
            </div>
            <div class="cambioDatos">
                <img src="../static/svg/tensionArt.svg">
            </div>
            <div class="cambioDatos">
                <img src="../static/svg/saturacion.svg">
            </div>
            <div class="cambioDatos">
                <img src="../static/svg/altura.svg">
            </div>





            </div>



        </div>
    </div>

</body>

</html>